body, header, #clock{
    
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#clock{
    border: 2px solid black;
    background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);

}


.grid-item-3 {
    border: 2px solid white;
    background-color: white;
}
.grid-item-3:hover{
    border: 2px solid white;
    color: rgb(0, 0, 0);
    -webkit-filter: invert(100%);
    filter: invert(100%);
}
a:hover{
    text-decoration:none;
    font-weight: bolder;
}
.grid-container{
    display: grid;  
    grid-auto-columns: minmax(auto, auto) ;
    grid-auto-rows: minmax(auto, auto);
}

footer{
    background-color: #c9d2d0;
}

.footer{
    padding: 50px;
    color: #31231e;
}


#formu{
    width: fit-content;
    border: 2px solid black;
    background-color: aqua;
}

#formus{
    width: fit-content;
    border: 2px solid  violet;
    background-image:  linear-gradient(to left,yellow, orange, red)
}
#noticiass{

    background-image: linear-gradient(to right, white, black)
}

#nuevo, .nuevo{
    border: 2px solid black;
    background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);
}
#old-article{
    height: 100px;
    width: 100px;
    border: 2px solid black;
    overflow: auto;
}


.grid-item-2{
    border-top: 3px solid black;
    border-bottom: 7px solid white;
}

.cuerpo{
    border-bottom: 15px solid white;
}

