body, header, #clock{
    
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#clock{
    border-radius: 3px;
    border: 2px solid black;
    background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);

}


.grid-item-3 {
    border-radius: 3px;
    border: 2px solid white;
    background-color: white;
}
.grid-item-3:hover{
    border-radius: 3px;
    border: 2px solid white;
    color: rgb(0, 0, 0);
    -webkit-filter: invert(100%);
    filter: invert(100%);
}
a:hover{
    text-decoration:none;
    font-weight: bolder;
}
.grid-container{
    display: grid;  
    grid-auto-columns: minmax(auto, auto) ;
    grid-auto-rows: minmax(auto, auto);
}

.footer{
    background-color: #c9d2d0;
}

.footer{
    padding: 50px;
    color: #31231e;
}


#formu{
    border-radius: 3px;
    width: fit-content;
    border: 2px solid black;
    background-color: aqua;
}
#formu3{
    border-radius: 3px;
    width: fit-content;
    border: 2px solid black;
    background-color: royalblue;
}
#formu4{
    border-radius: 3px;
    width: fit-content;
    padding: 2px;
    border: 2px solid black;
    background-color: lightgray;
}
#formus{
    border-radius: 3px;
    width: fit-content;
    border: 2px solid  violet;
    background-image:  linear-gradient(to left,yellow, orange, red)
}
#noticiass{

    background-image: linear-gradient(to right, white, black)
}

.nuevo{
    border-radius: 3px;
    border: 2px solid black;
    background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);
}
#old-article{
    border-radius: 3px;
    height: 100px;
    width: 110px;
    border: 2px solid black;
    overflow: auto;
}


.grid-item-2{
    border-radius: 3px;
    border-top: 3px solid black;
    border-bottom: 7px solid white;
}

.cuerpo{
    border-radius: 3px;
    border-bottom: 15px solid white;
}

.formulario{
    background-color: wheat;
    padding: 10px;
    border-radius: 3px;
    width: 300px;
    border: 5px solid chocolate;
}

.Saviso{
    background-color: aquamarine;
    padding: 3px;
    border-radius: 3px;
    border: 3px solid cornflowerblue;
}

.Aviso{
    background-color: rgb(117, 222, 115);
    border-radius: 3px;
    border: 4px solid rgb(247, 82, 109);
    width: fit-content;
    height: fit-content;
    margin-bottom: 5px ;
}